@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tarjetas{
    border: rgb(218, 53, 53) solid;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Antonio', sans-serif;
}
.conteiner{
    transform: translateY(-50px);
    width: 1000px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.conteiner .card{
    position: relative;
    padding: 15px;
}
.conteiner .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    flex-direction: column;
}

.conteiner .card .face.face1 .content{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translateY(100px);
}
.conteiner .card .face.face1 .content img{
    opacity: 0.8;
    transition: 0.5s;
    width: 300px;
}

.conteiner .card:hover .face.face1 .content{
    transform: translateY(0);
    transition: 0.5s;
    background: #fff;
}
.conteiner .card .face.face2{
    position: relative;
    height: 90px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0,0,0.8);
}
.conteiner .card .face.face2 p{
    margin: 0;
    padding: 0;
}
.conteiner .card .face.face2 a{
    margin: 15 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.conteiner .card .face.face2 a:hover{
    background: #333;
    color: #fff;
}