@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

header{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

}
header h1{
    color: #fff;
    position: relative;
    left: 40px;
    font-family: 'Antonio', sans-serif;
}
header .informacion{
    align-items: center;
    margin-right: 10px;
}
header .informacion a{
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
    color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
    font-weight: 900;
}
header .informacion a:hover{
    background: #03a9f4;
}